<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsivesness easy</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header class="bg-light text-center">
        <div class="container container--narrow">
            <p>Lorem, ipsum dolor.</p>
            <h1>Responsive Layout not a Struggle</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <h2 class="text-center">Quality Designs</h2>
            <div class="split">
                <div>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius quia, labore sit veritatis minus rerum
                        totam nostrum eveniet a vero illo harum quasi, molestias atque!</p>
                </div>
                <div>
                    <p>Eius iure ducimus officia nemo hic veniam aspernatur, ex accusamus ipsum architecto sunt quos enim
                        rerum nisi eos eum aut! Incidunt ex excepturi ullam perspiciatis!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark">
        <div class="container">
            <div class="split">
                <div>
                    <h2>Made custom for u</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste sint alias animi sed maxime quam! Est
                        amet reiciendis fugit magni rerum, recusandae eum excepturi esse!</p>
                </div>
                <div>
                    <img src="img/image-01.jpg" alt="man stading on mountain edge ">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-primary">
        <div class="container">
            <div class="split">
                <div>
                    <img src="img/image-02.jpg" alt="mt wuth sun setting behind them">
                </div>
                <div>
                    <h2>Created with Care</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum iure deserunt sequi sit quo modi. Eos
                        quisquam consequatur, eum temporibus iusto autem aliquid ducimus minus quasi maiores, quae
                        accusantium rerum!</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>