<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODINGGO</title>
    style
        include ../static/style.css
    
</head>
<body>
    <nav>
        <ul>
            <li>HOME</li>
            <li>SERVICES</li>
            <li>CONTACT</li>
        </ul>
    </nav>
    <!-- <h1>CODINGGO</h1> -->
    <div class="container">
        <h3>Come to  our  web to learn efficient coding</h3>
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Enter Your Name ">

            <input type="text" name="address" id="address" placeholder="Enter Your Address ">

            <textarea name="m" id="message" cols="30" rows="10" placeholder="MESSAGE"></textarea>
            <button type="submit" id="submit">Submit</button>
        </form>
    </div>
    script 
        include ../static/index.js
</body>
</html>